/*GENERAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu Sans Mono", monospace;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  height: 9vh;
}

@media (max-width: 1200px) {
  .project-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #navbar {
      justify-content: center;
      align-items: center;
      padding-bottom: 15px;
  }

  .nav-link {
      padding: 10px;
      font-size: 20px;
  }

  #welcome-section #main-title {
    font-size: 54px;
  }
  
  #welcome-section #main-p {
    font-size: 32px;
  }

  #projects .project-grid {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin: 50px 25px;
  }

  #projects .project-section-header {
    font-size: 40px;
  }

  #projects .show-all {
    padding: 15px;
    font-size: 20px;
  }

  .project-grid .project-title {
    font-size: 26px;
  }

  #contact #contact-head {
    font-size: 36px;
  }
  
  #contact #contact-p {
    font-size: 18px;

  }
  
  #contact .social-links {
    font-size: 20px;

  }

  footer p {
    font-size: 24px;
  }
}

@media (min-width: 767px) and (max-width: 863px) {
  #navbar {
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.nav-link {
    padding: 10px;
    font-size: 30px;
}

#welcome-section #main-title {
  font-size: 64px;
}

#welcome-section #main-p {
  font-size: 43px;
}

#projects .project-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 40px 0 40px 0;
}

#projects .project-section-header {
  font-size: 40px;
  padding-top: 40px;
}

#projects .show-all {
  padding: 20px;
  font-size: 20px;
}

.project-grid .project-title {
  font-size: 26px;
}

#contact #contact-head {
  font-size: 50px;
}

#contact #contact-p {
  font-size: 24px;
}

#contact .social-links {
  font-size: 38px;
}

footer p {
  font-size: 30px;
}

}

@media (min-width: 0px) and (max-width: 442px) {
  #welcome-section #main-title {
    font-size: 32px;
  }
  
  #welcome-section #main-p {
    font-size: 25px;
  }

  #projects .project-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 40px 0 40px 0;
  }

  #projects .project-section-header {
  font-size: 40px;
  padding-top: 40px;
  }

  #projects .show-all {
  padding: 20px;
  font-size: 20px;
  }

  .project-grid .project-title {
  font-size: 23px;
  }

  #contact #contact-head {
  font-size: 30px;
  }

  #contact #contact-p {
  font-size: 17px;
  }

  #contact .social-links {
  font-size: 20px;
  }

  footer p {
  font-size: 20px;
  }
  
  .nav-link {
    padding: 0px;
    font-size: 14px;
  }
}

/*NAVBAR*/

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: linear-gradient(to right, #8B0000 20%,#FF0000 100%);
  position: fixed;
  z-index: 1000;
}

#navbar ul  {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-right: 0 20px;
  font-size: 46px;
  width: 100%;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  padding: 20px;
}

.hidden-icon {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav-link:hover .hidden-icon {
  opacity: 1;
}

/*WELCOME SECTION*/

#welcome-section {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #000000 20%, #282828 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  text-shadow: 3px 3px 6px #FFFFFF;
  padding: 0 20px;
  text-align: center;
}

#main-title {
  font-size: 100px;
}

#main-p {
  font-size:50px;
  font-style: italic;
}

.dot {
  opacity: 0;
  animation: fadeInOut 3s infinite;
}
.dot1 {
  animation-delay: 0s;
}
.dot2 {
  animation-delay: 0.5s;
}
.dot3 {
  animation-delay: 1s;
}

@keyframes fadeInOut {
  0%, 25% {
      opacity: 0;
  }
  30%, 50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/*PROJECTS SECTION*/

#projects {
  background: linear-gradient(to right, #06062b 20%, #010155 100%);
  text-align: center;
}

.project-tile {
  background: #000000;
  text-decoration: none;
}

.project-section-header {
  padding-top: 100px;
  text-align: center;
  font-size: 100px;
}

.project-image {
  width: 100%;
  object-fit: cover;
}

.project-title {
  text-align: center;
  font-size: 36px;
  padding: 20px 0;
}
.code {
  color: #000000;
  transition: 0.8s ease;
  font-weight: bold;
}

.project-tile:hover .code {
  color: crimson;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 100px 50px;
}

.show-all {
  display: inline-block;
  background-color: #282828;
  padding: 20px;
  font-size: 42px;
  text-decoration: none;
  margin-bottom: 50px;
  border-radius: 3px;
  transition: background-color 0.8s ease;
}

.show-all:hover {
  background-color: crimson;
}

/*CONTACT*/

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  padding: 50px 20px;
  text-align: center;
  border-top: 1px solid #FFFFFF;
}

#contact h2 {
  font-size: 86px;
}

#contact p {
  font-size: 36px;
  padding-top: 40px;
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 40px;
}

.social-links {
  text-decoration: none;
  font-size: 43px;
  padding: 20px;
  transition: transform 0.3s ease-out;
}

.social-links:hover {
  transform: translateY(8px);
}

/*FOOTER*/

footer {
  background-color: #282828;
  border-top: 1px solid crimson;
  text-align: center;
  padding: 20px 0;
  font-size: 43px;
}