:root {
 
}

html::-webkit-scrollbar{
  display: none;
}

body {
  padding: 0px;
  margin: 0px;
}

.nav {
  display: flex;
  background-color: #bd2632;
  position: fixed;
  flex-direction: row-reverse;
  z-index: 1;
  width: 100%;
  height: 80px;
  
  
}

.nav li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Optima;
  position: relative;
 

}

ul {
  list-style: none;
  display: flex;
}

li {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Optima;
  font-weight: bold;
  font-size: 30px;
}

li:hover{
  background-color: #24962E;
  
}

.welcome {
  position: relative;
  display: flex;
  background-image: linear-gradient(90deg, #363435, #242323);
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  display: flex;
  font-size: 100px;
  font-family: Optima;
  color: white;

}

.p1 {
  display: flex;
  font-size: 80px;
  font-family: Optima;
  color: #bd2632;

}

h1, .p1 {
  margin: 0;
}